# Qualcomm SM8750 / OnePlus 13 (dodge) bringup fragment
CONFIG_LOCALVERSION="-sm8750-oneplus13"

CONFIG_NR_CPUS=8
CONFIG_SCHED_CLUSTER=y
CONFIG_ARCH_QCOM=y
CONFIG_PINCTRL_SM8750=y
CONFIG_SM_GCC_8750=y
CONFIG_SM_GPUCC_8750=y
CONFIG_SM_DISPCC_8750=y
CONFIG_SM_TCSRCC_8750=y
CONFIG_SM_VIDEOCC_8750=y
CONFIG_INTERCONNECT_QCOM_SM8750=y
CONFIG_QCOM_LLCC=y
CONFIG_QCOM_GPI_DMA=y
CONFIG_QCOM_ICC_BWMON=y
CONFIG_QCOM_RPMH=y
CONFIG_QCOM_RPMHPD=y
CONFIG_QCOM_SCM=y
CONFIG_QCOM_SOCINFO=y
CONFIG_QCOM_SPMI_TEMP_ALARM=y
CONFIG_POWER_RESET_QCOM_PON=y

CONFIG_ARM64_APPENDED_DTB=y
CONFIG_SCSI_UFS_QCOM=y
CONFIG_SCSI_UFS_BSG=y
CONFIG_SCSI_UFS_CRYPTO=y
CONFIG_BLK_INLINE_ENCRYPTION=y
CONFIG_PSTORE=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_PMSG=y
CONFIG_PSTORE_RAM=y
CONFIG_PSTORE_COMPRESS=y
CONFIG_FB_SIMPLE=y

CONFIG_USB_GADGET=y
CONFIG_USB_DWC3=y
CONFIG_USB_DWC3_GADGET=y
CONFIG_USB_G_NCM=y
CONFIG_TYPEC=y
CONFIG_TYPEC_UCSI=y
CONFIG_QCOM_PMIC_GLINK=y
CONFIG_UCSI_PMIC_GLINK=y
CONFIG_PHY_QCOM_QMP=y
CONFIG_PHY_QCOM_QMP_UFS=y
CONFIG_PHY_QCOM_QMP_USB=y
CONFIG_PHY_QCOM_QMP_COMBO=y
CONFIG_PHY_QCOM_M31_EUSB=y
CONFIG_PHY_QCOM_EUSB2_REPEATER=y

CONFIG_DRM=y
CONFIG_DRM_MSM=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_LEDS_CLASS=y
CONFIG_LEDS_CLASS_FLASH=y
CONFIG_LEDS_QCOM_FLASH=y
CONFIG_LEDS_QCOM_LPG=m

CONFIG_INPUT_EVDEV=y
CONFIG_INPUT_UINPUT=m
CONFIG_I2C_QCOM_GENI=y
CONFIG_I2C_HID=y
CONFIG_HID_GENERIC=m
CONFIG_UHID=m
CONFIG_USB_HID=m

CONFIG_TMPFS_XATTR=y
CONFIG_CRYPTO_XTS=y
CONFIG_BLK_DEV_DM=y
CONFIG_DM_CRYPT=y
CONFIG_BTRFS_FS=y
CONFIG_F2FS_FS=y
CONFIG_ANDROID_BINDERFS=y
CONFIG_PSI=y
CONFIG_ZRAM=m
CONFIG_ZRAM_DEF_COMP_ZSTD=y
CONFIG_WIREGUARD=m
